@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h2>Aplicação para inferência Bayesiana</h2>
    <h4>A aplicação foi desenvolvida com o framework Infer.NET</h4>
    <h4><a href="https://dotnet.github.io/infer/">O Infer.NET</a> possibilita executar a inferência bayesiana em modelos gráficos. Possibilitando o desenvolvimento de programação probabilística</h4>
    
    <h4>Desenvolvimento desta aplicação faz parte de um projeto de doutorado</h4>
    <ul>
        <li>Paulo Ricardo Muniz Barros</li>
        <li>Lattes: <a href="http://lattes.cnpq.br/3055300912744506">http://lattes.cnpq.br/3055300912744506</a></li>
    </ul>

</div>